# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LTDT_project.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\IT thing\Project\LTDT_project\.idea\.idea.LTDT_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
